{% if default_server_name is defined %}
server {
    listen  {{ default_server_listen_port | default('80') }} default_server;
    server_name  {{ default_server_name }};

    root {{ default_server_dir }};
    index index.php index.html index.htm;

    {% if default_server_access_log is defined %}
    access_log {{ default_server_access_log }};
    {% endif %}
}

{% endif %}
