{{ nginx_log_path }}*_access.log {
    daily
    dateext
    missingok
    rotate 100
    nocompress
    sharedscripts
    postrotate
        [ ! -f {{ nginx_pidfile }} ] || kill -USR1 `cat {{ nginx_pidfile }}`
    endscript
}
